@use "components" as comp;
@use "mixins" as mixins;
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,600;1,300;1,500&display=swap");

body {
    @include mixins.styleBody(comp.$color-secondary);
    display: flex;
    flex-direction: column;
    gap: 8rem;

    .index {
        background-color: inherit;
        display: flex;
        flex-direction: row;
        color: comp.$color-primary;

        .profile {
            width: 30%;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5rem 0 1rem 0;
            gap: 2rem;

            h2 {
                color: comp.$color-primary;
                padding-top: 2rem;
            }

            img {
                align-self: center;
            }

            .social_media {
                width: fit-content;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4rem;

                i {
                    flex-grow: 1;
                    transition: ease-out font-size 0.1s;

                    &:hover {
                        font-size: 5em;
                    }
                }
            }

            .cv_download {
                text-decoration: none;
                color: comp.$color-secondary;

                button {
                    padding: 1rem 0.9rem;
                    border-radius: 30px;
                    border: 2px solid comp.$color-secondary;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    width: 12rem;
                    background-color: comp.$color-primary;
                    color: inherit;
                    transition: ease-out width 0.2s;

                    &:hover {
                        width: 16rem;
                    }

                    i {
                        font-size: 24px;
                        font-weight: bold;
                        color: comp.$color-secondary;
                    }
                }
            }
        }

        .content {
            font-family: "Roboto Mono", monospace;
            color: inherit;
            background-color: comp.$color-secondary;
            width: 70%;
            padding: 1rem;
            display: flex;
            flex-direction: column;

            .nav_bar {
                width: 100%;
                margin-bottom: 2rem;
                padding: 1rem 2rem;
                margin-top: 0;
                margin-right: 0;
                position: fixed;
                top: 0;
                right: 0;
                display: flex;
                justify-content: space-between;
                overflow: auto;
                background-color: inherit;

                h3 {
                    flex-grow: 1;
                    text-align: center;
                }

                section {
                    flex-grow: 3;
                    display: flex;
                    justify-content: center;
                    gap: 6rem;
                }
            }

            .presentation {
                @include mixins.styleHeader(inherit, 32px);
                margin-top: 6rem;
            }

            article {
                margin-top: 4rem;
                width: 100%;
                header {
                    @include mixins.styleHeader(inherit, 42px);
                }
                p {
                    text-align: justify;
                    color: inherit;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    padding: 0rem 6rem;
                }
            }
        }
    }

    //Stack ---------------------------------------------------------------------------------------
    .stack {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        height: fit-content;
        color: comp.$color-primary;

        .stack-items {
            font-family: "Roboto Mono", monospace;
            margin:0;
            width: 100%;
            max-height: fit-content;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 6rem 2rem;
        }

        header {
            @include mixins.styleHeader(inherit, 48px);
        }
    }

    //Education -----------------------------------------------------------------
    .education {
        font-family: "Roboto Mono", monospace;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 1rem 3rem;

        .edu-items {
            display: inherit;
            flex-direction: inherit;
            padding-left: 4rem;
            align-items: start;
            gap: 1rem;
        }

        header {
            @include mixins.styleHeader(comp.$color-primary, 48px);
        }
    }
}
