
@mixin styleHeader($color,$font-size) {
    color: $color;
    text-align: center;
    font-size: $font-size;
    font-style: normal;
    font-weight: 600;
}

@mixin styleBody($backg){
    font-family: 'Readex Pro',sans-serif;
    margin:0;
    padding:0;
    background-color: $backg;
    background-size: cover;
}

@mixin styleIcons($size,$color){
    font-size: $size;
    color:$color;
}